<mat-card class="header">
	<div class="header_left">
		<button mat-flat-button color='accent' (click)="openpopup()">
			<i class="material-icons">
				add
			</i>
			Thêm mới
		</button>
	</div>
	<div class="header__right">
		<div class="import__file">
			<mat-form-field>
				<mat-icon matPrefix>search</mat-icon>
				<input matInput type="search" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			</mat-form-field>
			<button mat-flat-button color='primary' (click)="fileImport.click()">
				<i class="material-icons">
					arrow_forward
				</i>
				Import
			</button>
			<input hidden (change)="onFileSelected()" #fileImport type="file" id="fileImport">
			<button mat-flat-button color='primary' (click)="fileExport.click()">
				<i class="material-icons">
					arrow_back
				</i>
				Export
			</button>
			<input hidden (change)="onFileSelected()" #fileExport type="file" id="fileExport">
		</div>
		<div class="export_file">

		</div>
	</div>
</mat-card>

<mat-card>
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
		<ng-container matColumnDef="position">
			<th mat-header-cell *matHeaderCellDef> No. </th>
			<td mat-cell *matCellDef="let element"> {{element.position}} </td>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef> Name </th>
			<td mat-cell *matCellDef="let element"> {{element.name}} </td>
		</ng-container>

		<!-- Weight Column -->
		<ng-container matColumnDef="weight">
			<th mat-header-cell *matHeaderCellDef> Weight </th>
			<td mat-cell *matCellDef="let element"> {{element.weight}} </td>
		</ng-container>

		<!-- Symbol Column -->
		<ng-container matColumnDef="symbol">
			<th mat-header-cell *matHeaderCellDef> Symbol </th>
			<td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
		</ng-container>
		<ng-container matColumnDef="action">
			<th mat-header-cell *matHeaderCellDef> Action </th>
			<td mat-cell *matCellDef="let element">
				<a href="" style="color:#716aca">
					<mat-icon class="mat-icon material-icons" role="img" aria-hidden="true"
						matTooltip="Edit this product">create</mat-icon>
				</a>
			</td>
		</ng-container>
		<ng-container matColumnDef="delete">
			<th mat-header-cell *matHeaderCellDef> </th>
			<td mat-cell *matCellDef="let element">
				<a href="" style="color:#f4516c">
					<mat-icon class="mat-icon material-icons" role="img" aria-hidden="true"
						matTooltip="Delete about the action">delete</mat-icon>
				</a>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>