<mat-tab-group>
  <mat-tab label="Thông tin">
    <form class="example-form">
      <div class="row">
        <div class="col-xl-6">
          <mat-form-field>
            <input matInput matTooltip="Info about the action" placeholder="Tên Hàng Hoá">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-select placeholder="Nhóm Hàng">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-6">
          <mat-form-field>
            <input matInput matTooltip="Info about the action" placeholder="Giá vốn">
          </mat-form-field> <br>
          <mat-form-field>
            <input matInput matTooltip="Info about the action" placeholder="Giá Bán">
          </mat-form-field>
        </div>
      </div>
      <div class="col-xl-12">
        <input #imageInput type='file' accept="image/*">
      </div>
      <div class="col-xl-12" style="text-align: center">
        <button mat-flat-button color="primary" submit=""><i class="material-icons">
            send
          </i>Submit</button>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Mô Tả chi tiết"> Content 2 </mat-tab>
  <mat-tab label="Thành Phần"> Content 3 </mat-tab>
</mat-tab-group>