<a href="javascript:;" class="m-nav__link m-dropdown__toggle">
    <span class="m-nav__link-text">
      <i class="material-icons m-topbar__language-selected-img" style="font-size:30px !important;">
          apps
        </i>
    </span>
</a>
<div class="m-dropdown__wrapper">
    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
    <div class="m-dropdown__inner">
      <div class="m-dropdown__header m--align-center" #mProfileDropdown style="background-size: cover;" [style.background-image]="avatarBg">
        <div class="m-card-user m-card-user--skin-dark">
          <div class="m-card-user__pic">
            <img src="{{avatar}}" class="m--img-rounded m--marginless" alt="" />
          </div>
          <div class="m-card-user__details">
            <span class="m-card-user__name m--font-weight-500">
              Thiết Lập Cửa Hàng
            </span>
          </div>
        </div>
      </div>
      <div class="m-dropdown__body">
        <div class="m-dropdown__content">
          <ul style="display:grid;grid-template-columns: auto auto auto;list-style-type: none;padding:0;">
            <li>
              <a href="">
                  <i class="material-icons">
                      build
                      </i> <br>
                Thiết Lập Cửa Hàng
              </a>
            </li>
            <li>
              <a href="">
                  <i class="material-icons">
                      assignment
                      </i>     <br>                 
                Quản lý mẫu in
              </a>
            </li>
            <li>
              <a href="">
                  <i class="material-icons">
                      accessibility
                      </i> <br>
                Quản lý người dùng
              </a>
            </li>
            <li>
              <a href="">
                  <i class="material-icons">
                      compare_arrows
                      </i> <br>
                Quản lý chi nhánh
              </a>
            </li>
            <li>
              <a href="">
                  <i class="material-icons">
                      history
                      </i> <br>
                Lịch sử thao tác
              </a>
            </li>
            <li>
              <a href="">
                  <i class="material-icons">
                      delete
                      </i> <br>
                Xóa dữ liệu dùng thử
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>