<div class="bg">
	<mat-card>
		<div
			class="m-grid__item m-grid__item--fluid  m-grid__item--order-tablet-and-mobile-1 m-login__wrapper t-fixed-margin">
			<div class="m-login__body" style="text-align: center">
				<m-login *ngIf="action === 'login'" [(action)]="action"></m-login>
				<m-register *ngIf="action === 'register'" [(action)]="action"></m-register>
				<m-forgot-password *ngIf="action === 'forgot-password'" [(action)]="action"></m-forgot-password>
			</div>
		</div>
	</mat-card>
</div>