ul {
  list-style-type: none;
  li {
    float: right;
    i {
      font-size: 25px !important;
    }
  }
}
mat-card {
  margin-bottom: 30px;
}
.option-date {
  select {
    width: 80px;
    option {
      width: 60px;
    }
  }
}
.m-widget14__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
m-option-date {
  margin: 0 15px;
}
