.t-fixed{
    margin :15px 0 25px 0;
}
.container{
    padding-left: 0 !important;
    padding-right:0 !important;
}
.m-subheader{
    padding: 0 !important;
}
.col-xl-3{
    mat-card{
        color:#fff;
    }
}
